  /*body { font-family: Inter, system-ui, Arial; margin: 0; padding: 0; background:#e3e3e6; color:#222 }*/

.header {
  background:#0b5cff;
  color:white;
  padding:16px 20px;
  text-align: center;
  border-color: black;
  box-sizing: border-box; /* corrigido */
}

.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap:16px;
}

.car-card {
  height: 160px;
  width: 700px;
  margin: 0px 0px 5px 610px;
  background: white;
  border-radius:8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  display:flex;
  /*border: 1px groove black;
*/
}
.anunc-card{
  height: 235px;
  width: 700px;
  margin: 0px 0px 5px 610px;
  background: white;
  border-radius:8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  display:flex;
  /*border: 1px groove black;
*/
}

.car-img {
  width:190px;
  height:120px;
  object-fit:cover;
  border-radius:0px;
}
.anunc-img {
  width:220px;
  height:200px;
  object-fit:cover;
  border-radius:0px;
}
.car-bodi {
  margin:0px 0 0 20px; 
  font-size:17px; 
   overflow-wrap: break-word

}

.car-link {
  font-size:17px;
  margin:0 0 0 35px;
}

.butao-link {
  padding: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  width: 50px;
  font-weight: 900;  
  background:#363636;
  border: none;
  color: white;
  text-decoration: none;
}

.butao-link:hover{
  
  background-color: white;
  color: black;
}

.div-pos { background-color: black; }

.filtro-card {
  font-size: 20px;
  display: inline;
  margin-left: 10px;
}
.titulo_anunc{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 900;
}
.f {
  display: block;
  margin: 10px;
}

.div-marca { text-align: center; }

.filtro-pesq {
  width: 360px;
  height: 46px;
  text-align: center;
  border-right: 1px solid black;
  margin: 30px 0 0 360px;
  background: white;
  color: rgb(54,54,54);
  font-size: 20px;
}

.filtro-ilha {
  width: 160px;
  height: 57px;
  text-align: center;
  border-right: 1px solid black;
  margin: 20px 0 0 40px;
  background: white;
  color: rgb(54,54,54);
  font-size: 20px;
}

.fitro-locais {
  background: rgba(227, 227, 230, 1);
  width: 300px;
  height: 50px;
  text-align: center;
  border-right: 1px solid black;
  margin: 30px 0 0 0;
  font-size: 20px;
}

.butao {
  width: 100px;
  height: 59px;
  background:#363636;
  border: 1px solid;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-left:0px;
}

.categ-ilha {
  width: 250px;
  height: 60px;
  margin: 20px 10px 20px 450px;
  border: none;
  color: rgb(54,54,54);
  font-size: 20px;
}

.categ-precoMin {
  width: 100px;
  height: 50px;
  margin-left: 5px;
  margin-right: 10px;
  border: none;
  color: rgb(54,54,54);
  font-size: 20px;
  border: 1px solid black;

}

.categ-precoMax {
  width: 100px;
  height: 50px;
  margin-left: 5px;
  border: none;
  color: rgb(54,54,54);
  font-size: 20px;
  border: 1px solid black;
}
.bloco{
}
.text-filtros {
  color: rgb(54,54,54);
  font-size:25px;
}

.text-titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 900;
  
}
.checkbox-btn{
  margin-left: 10px;
}

body{
height: 100%;
 padding: 0px;
 margin: 0px;
box-sizing: border-box;

}

.tela-btn{
height: 400px;
width: 800px;
background:white;
border: 1px solid black;
top: 12%;
left: 25%;
position: absolute;
text-align: center;
 ;
}

.fitro-butao {
  height: 100px;
  background: #363636;
  display: flex;
  margin:190px -10px 0 -10px;
}

.logo-uta {
  width: 170px;
  height: 40px;
  margin: 10px 0 0 550px;
  border-radius: 5px;
  background-color: aliceblue;
  display:inline-block;
  border: 14px solid white;
}

h6 {
  color: rgb(54,54,54);
  font-size: 20px;
  margin-top: 30px;
  display: inline-block;
}

.logo-lupa {
  width: 90px;
  height: 90px;
  margin: 0 1px 0 0;
}


.email {
  display: inline-block;
  margin: 40px 0 900px 50px;
  color: #e3e3e6;
  font-size: 25px;
}

.titulo {
   font-family: Impact, Charcoal, sans-serif; /* fonte nativa grossa */
  font-size: 48px;                          /* tamanho grande */
  font-weight: 400;                         /* mais grosso */
  color:  white;                           /* cor chamativa */
  text-transform: uppercase;                /* todas letras maiúsculas */
  text-align: center;
  letter-spacing: 2px;
  padding-top: 50px ;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);


}
.titulo-homeuser {
  font-family: Impact, Charcoal, sans-serif; /* fonte nativa grossa */
  font-size: 48px;                          /* tamanho grande */
  font-weight: 400;                         /* mais grosso */
  color:  rgb(54,54,54);; ;                           /* cor chamativa */
  text-transform: uppercase;                /* todas letras maiúsculas */
  text-align: center;
  letter-spacing: 2px;
  padding-top: 100px ;

}

.titulo_um {
  margin-top: 0px;
  color:  rgb(54,54,54);
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  font-family: "Alfa Slab One", serif;
  width: 100%;
  height: 50px;
}
.titulo-home {
  margin-top: 0px;
  color:  rgb(54,54,54);
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  font-family: "Alfa Slab One", serif;
  width: 100%;
  height: 50px;
}

.x-btn{
  position: relative;
  margin-left: 96%;
  width: 30px;
  height: 30px;
  color: black;
  font-weight: 800;
}
.x-btn:hover{
  background-color: black;
  color: white;
}
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.anunciantes-btn:hover {
  background-color: white;
  color: black;
}
.anuncio-btn:hover {
  background-color: white;
  color: black;
}
.butao:hover {
  background-color: white;
  color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* OBRIGATÓRIO para altura total */
html, body {
  width: 100%;
  height: 100%;
}

/* Melhor experiência */
#root {
  min-height: 100%;
}
.quadro-filtro {
   display: inline;
    background-color: rgb(227, 227, 230, 1);
}
body{
background-color: rgb(235, 235, 238);

}
.container-user{
   display: inline;
   margin-left: 20px;
   margin-right: 0px;
   margin-top: 10px;
   height: 600px;
   width:350px;
   border-radius: 10px;
   float: left;
   background-color: white;

}
.btn-pesq{
   display: inline;
   margin-left: 220px;
   margin-right: 40px;
   margin-top: 20px;
   height: 920px;
   width:350px;
   border-radius: 10px;
   float: left;
   background-color: white;
}
.filtragem-radio{
   display: inline-block;
   margin-top: 20px;
   height: 60px;
   width:  700px;
   background:white;
}
@media (max-width: 768px) {
  .quadro-filtro {
    flex-direction: column; /* empilha os elementos */
    align-items: stretch;
  }

  .btn-pesq, .filtragem-radio {
    width: 100%;            /* ocupam toda a largura */
    min-width: 0;
  }
}
.filtro_li{

}

.anuncio-btn{
  width: 350px;
  height: 60px;
  background:#363636;
  color: white;
  border: none;
  font-size: 20px;
    margin-bottom: 20px;

  padding: 14px 20px;  /* cima/baixo = 12px, lados = 20px */

}

.anunciantes-btn{
   width: 350px;
  height: 60px;
  background:#363636;
  border: none;
  color: white;
  font-size: 20px;
}
.bbb {
  display: inline-block;
  border: 10px solid black;
 }
 .rac-btn{
  background: none;
  border: none;
 }
.bodi-main{
  display: inline-block;
  width: 100%;
  height:600px;
  background: url("painel.jpg");
  background-size: cover;   /* mostra tudo sem cortar */
  background-position: bottom right;
}

.bodi-painel{
  display: inline-block;
  width: 100%;
  height:650px;
  background: linear-gradient(90deg,
  #d4d4d4,
  #c9c9c9,
  #bfbfbf,
  #c9c9c9,
  #d4d4d4
);

}

.entidades-quadro{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  height:50px; 
  
background:white;
}


.entidades-levantamento{
  display: inline-block;
  margin-bottom: x90px;
  width: 100%;
  height:50px; 
  
}
.img-ilha-levantamento{
 height: 123px; 
 width: 347px;
}

.bodirazoes{
  display: inline-block;
  width: 100%;
  height: 410px;
  
  background: linear-gradient(90deg,
  #d4d4d4,
  #c9c9c9,
  #bfbfbf,
  #c9c9c9,
  #d4d4d4
);
}

.foto-use{
  height: 200px;
  width:  200px;
}
.conteiner-home{
  display: inline-block;
  width: 100%;
  height: 400px;
  background:  white;
}
.bodirazoes-opacidade{
  display: inline-block;
  width: 100%;
  height: 570px;
  background:  white;
  opacity: 0.9;
}
hr{
  border: none;
  height: 1px;          /* espessura */
  background-color: #000;
}

.quadro_conteudo_esq {
  display: inline-block;
  text-align: left;
  height: 190px;
  width: 400px;
  margin-left: 350px;
  padding-left: 10px;
  color: rgb(54,54,54);
  border-left: 1px solid black;
}

.quadro_conteudo_dir {
  display: inline-block;
  height: 190px;
  width: 400px;
  text-align: left;
  color: rgb(54,54,54);
  margin-left: 50px;
  border-left: 1px solid black;
    
}
.logoracv {
  width: 90px;
  background-color: white;
  height: auto;
  display: inline-block;
}

.logoracvpesq{
  width: 100px;
  background-color: white;
  height: auto;
  display: inline-block;
  margin-left: 670px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.font-racv {
  font-size: 30px;
  margin-bottom: 20px;
  color:  rgb(54,54,54);
  display: inline-block;
}
.modificar-btn{
  background: rgb(54,54,54);
  border: none;
  width: 100px;
  height: 35px;
  color: white;
  font-weight: bold;
  margin-top: 15px ;
  margin-left: 120px ;
}
.modificar-btn:hover{
  
  background-color: black;
  color: white;
}
.filt {
  font-size: 20px;
  color: black;

  text-align: center;
}

.filtro-geral {
  background:white;
  width: 300px;
  height: 43px;
  text-align: center;
  border: 3px solid black;
  margin: 50px 0 0 270px;
  font-size: 20px;
}

.fitro-locais-geral {
  background:white;
  width: 500px;
  height: 56px;
  text-align: center;
  border: 0px solid black;
  font-size: 20px;
  border-radius: 0px;
  margin: 10px 0px 0px 450px ;
  font-weight: 800px;
}

.fitro-locais-user {
  background:white;
  width: 500px;
  height: 60px;
  text-align: center;
  border: 0px solid black;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px 0px 0px 200px ;
  font-weight: 800px;
}
.logo-trabalho {  
  
}
li {
  list-style: none;
  font-size: 1.5em;
  float: right;
  margin: 17px;
  margin-right: 5%;
  text-align: center;
}

.fitro-head {
 display: inline-block;
  background: rgb(54,54,54);
  height: 70px;
  width: 100%;
  color: white;
}


.fitro-head-opacidade {
 display: inline-block;
  background: rgb(54,54,54);;
  height: 60px;
  width: 100%;
  color: white;
 
}
.fitro_head {
 display: inline-block;
  background: rgb(54,54,54);;
  height: 60px;
  width: 100%;
  color: white;
  opacity: 0.1;
}
.login-btn{
  font-size: 20px;
  height: 140px;
  color: black; 
}
.registar_btn{
  height: 40px;
}
.levant_titulo{
 
  font-family: Impact, Charcoal, sans-serif; /* fonte nativa grossa */
  font-size: 20px;                          /* tamanho grande */
  font-weight: 400;                         /* mais grosso */
  color:  white ;                           /* cor chamativa */
  text-transform: uppercase;                /* todas letras maiúsculas */
  text-align: center;
  letter-spacing: 2px;
  margin-left: 450px;
  margin-bottom: 50px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

}

.levant-titulo{
 
  font-family: Impact, Charcoal, sans-serif; /* fonte nativa grossa */
  font-size: 20px;                          /* tamanho grande */
  font-weight: 400;                         /* mais grosso */
  color:  white ;                           /* cor chamativa */
  text-transform: uppercase;                /* todas letras maiúsculas */
  text-align: center;
  letter-spacing: 2px;
  margin-left: 200px;
  margin-bottom: 50px;
}
.logos-home{
  width: 200px;
  height: 100px;
  display: block;
  margin-top: 100px;
  margin-left: 50px;
  float: left;
  
}